body {
  background: url(images/BG.jpeg);
  background-size: cover;
  color: white;
  text-align: right;
  margin-right: 80px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 100px;
  padding-top: 50px;
  margin-bottom: 15px;
}

p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  opacity: 0.8;
}

span {
  color: #32eb6f;
}

ul {
  list-style: none;
  margin-top: 50px;
}

li {
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  padding: 5px;
}

ul li a:hover {
  opacity: 0.7;
}

.segundo-paragrafo {
  margin-bottom: 60px;
}

.botao {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
}

.botao:hover {
  opacity: 0.7;
}

@media (max-width: 640px) {
  body {
    background: black;
    text-align: center;
  }

  h1 {
    font-size: 70px;
    margin-bottom: 70px;
    padding-top: 180px;
  }

  p {
    font-size: 30px;
  }

  .segundo-paragrafo {
    margin-top: 20px;
  }

}




















